* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* topbar */

.topbar {
    height: 40px;
    background-color: #000;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.topbar ul li {
    display: inline-block;
    margin: 2px;
}

a {
    text-decoration: none;
    color: #925151;
}

.right,
.left {
    color: #fff;
}

/* header start */
header {
    height: 100px;
    background-color: rgb(0, 114, 0);
    color: #fff;
    line-height: 100px;
    padding: 0 50px;

}

header span {
    font-size: 40px;
    padding-right: 60px;
}

/* header end */

/* nav start */

nav {
    height: 40px;
    background-color: lightgreen;
    padding: 0 20px;
    line-height: 40px;

}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

nav ul li {
    list-style: none;
    margin-right: 60px;

}

nav ul li a {
    color: #000;
    font-size: 20px;
    font-weight: 600;

}

/* nav end */

/* main section start */
.main {
    height: aoto;
    width: 65%;
    padding: 0 50px;
    margin-top: 20px;
    float: left;
}

.para {
    margin-left: 25px;
    border-left: 2px solid green;
    padding-left: 5px;
}

.main span {
    color: rgb(0, 114, 0);
}

#para2,
#para3 {
    margin-top: 15px;
}

ul,
ol {
    margin-left: 35px;
}

/* main section end */
/* aside section start */

.aside {
    height: 400px;
    width: 18%;
    background-color: lightgreen;
    float: right;
    margin-right: 100px;
}

.asidebar {
    margin-top: 25px;
    padding-left: 15px;
}

.asidebar li {
    list-style: none;
}

/* aside section end */
/* footer start */

footer {
    clear: both;
    height: 200px;
    width: 100%;
    margin-top: 20px;
    background-color: #000;
    padding: 50px 50px;
    color: white;
}

.col-1,
.col-2,
.col-3 {
    width: 30%;
    float: left;
    margin: auto;
}

.col-3 {
    padding-left: 150px;
}

/* footer end */

/* media qwery start  */

@media screen and (max-width:700px) {

    header span {
        font-size: 30px;
        text-align: center;
        padding-right: 10px;
        display: block;
    }

    nav ul li {
        margin: auto;
    }

    .main {
        width: 100%;
        text-align: center;
        /* display: inline-block; */
    }

    .aside {
        width: 110%;
        text-align: center;
        padding-right: 50px;
        display: inline-block;
    }

    .col-1,
    .col-2,
    .col-3 {
        display: inline;
        text-align: center;
        width: 100%;
        height: 150px;
        background-color: #000;
    }

    .col-3 {
        padding-left: 50px;

    }

    footer {
        background-color: #fff;
        text-align: center;
    }

}